<div class=header>
  <div class=header-left>
    <form name=search>
    	<input name=what type=text>
    	<input name=submit type=submit value="">
    	<input name=reset type=reset value="">
    </form>
  </div>
  <div class=header-center>
  </div>
  <div class=header-right>
  </div>
</div>

