<% content_for :head do %>
    <%= stylesheet_link_tag    'music',       media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'artists',     media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'albums',      media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'tracks',      media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :body, 'all' %>

<ul class=pivot-root><%# something i learned from initrd %>
	<li id=/api/v1/artists class='collapsed empty'>
		<a data-get="/api/v1/artists" href=# id=root></a>
	</li>
</ul>
