// Place all the styles related to the Music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li > label, li > a {
	display: inline;
}

li {
	list-style-type: none;
}

iframe,
li > a#root,
li.collapsed > ul {
	display: none;
}

body.searching ul.artists > li,
body.searching ul.albums > li {
	display: none;
}
body.searching ul.artists > li.search-parent-found,
body.searching ul.artists > li.search-found,
body.searching ul.albums > li.search-parent-found,
body.searching ul.albums > li.search-found {
	display: initial !important;
}

li.search-parent-found {
	background-color: #ffbb33;
}

li.search-found {
	background-color: #ff8888;
}

