<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<ul>
	<% @artists.each do |artist| %>
		<li>
			<div class=listing><%= artist.name %></div>
			<div class="listing control"><%= link_to 'show', artist_path(artist) %></div>
		</li>
	<% end %>
</ul>

