<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
		  <td><%= artist.name %></td>
		  <td><%= link_to 'show', api_v1_artist_path(artist, :format => :html) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

